@font-face {
    font-family: 'SK Pencil';
    src: url('./font/SKPencil-Regular.woff2') format('woff2'),
        url('./font/SKPencil-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EFN Zepsuta Maszyna';
    src: url('./font/EFNZepsutaMaszyna.woff2') format('woff2'),
        url('./font/EFNZepsutaMaszyna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tataric';
    src: url('./font/Tataric.woff2') format('woff2'),
        url('./font/Tataric.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
