@font-face {
    font-family: 'Pigpen Cipher', monospace;
    src: url('PigpenCipher.woff2') format('woff2'),
        url('PigpenCipher.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FEZ', monospace;
    src: url('FEZ-Regular.woff2') format('woff2'),
        url('FEZ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

