/* Кнопки и элементы управления */
.control-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--accent-primary);
    border: 1px solid var(--accent-primary);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    cursor: pointer;
    font-family: inherit;
    font-size: 11px;
    transition: all 0.2s;
    text-transform: uppercase;
}

.control-btn:hover {
    background-color: var(--accent-primary);
    color: #000;
}

.control-btn.emergency {
    background-color: rgba(153, 0, 0, 0.3);
    color: var(--error-color);
    border-color: var(--error-color);
}

.control-btn.emergency:hover {
    background-color: var(--error-color);
    color: #000;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 148px;
    justify-content: space-between;
}